<!DOCTYPE html>
<html>

  <head>
    <meta charset='utf-8' />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Slate is a responsive theme for GitHub Pages" />

    <link rel="stylesheet" type="text/css" media="screen" href="stylesheets/stylesheet.css">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,400italic,700italic,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,700,700italic' rel='stylesheet' type='text/css'>

    <title>CSVWeaponStatReader | CSV CoD Weapon Stat Reader</title>
  </head>

  <body>

    <!-- HEADER -->
    <div id="header_wrap" class="outer">
        <header class="inner">
    <div class="logo">
          </div>
          <a id="forkme_banner" href="https://github.com/Scobalula/CSVWeaponStatReader">View on GitHub</a>
          <h1 id="project_title">CSVWeaponStatReader</h1>
          <h2 id="project_tagline">A tool to process Weapon Stats in a CSV file.</h2>
        </header>
    </div>

    <section class="outer">
        <div class="downloads inner">
          <a class="zip_download_link" href="https://github.com/Scobalula/CSVWeaponStatReader/releases">Download Latest</a>
        </div>
    </section>


    <!-- MAIN CONTENT -->
    <div id="main_content_wrap" class="outer">
      <section id="main_content" class="inner">
      {{ content }}
      </section>
    </div>

    <!-- FOOTER  -->
    <div id="footer_wrap" class="outer">
      <footer class="inner">
        <p class="copyright">Slate theme maintained by <a href="https://github.com/jasoncostello">Jason Costello</a></p>
        <p>Published with <a href="http://pages.github.com">GitHub Pages</a></p>
      </footer>
    </div>

  </body>
</html>
